@model CarVue.TechnicalTest.Web.Models.CompanyListViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    @Html.Partial("_CompanyList", Model)

    @Html.ActionLink("Create New Company", "Index", "Company")
</div>